* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  -webkit-font-smoothing: antialiased;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

#map {
  flex: 1;
  overflow: hidden;
}

.transition-effect {
  transition-property: fill-opacity; /* Specify the property you want to transition */
  transition-duration: 0.3s; /* Duration of the transition */
  transition-delay: 0.2s; /* Delay before the transition starts */
}